<!DOCTYPE html>
<html lang="en" ng-app="tasks">
    <head>
        <!-- <base href="/"> -->
        <meta charset="utf-8" />
        <!-- this meta for IE cmbatabilty -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- this meta for resposive for mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>@ViewBag.Title - Real Estate</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Content/css")
    </head>
    <body style="margin-top:58px">
        <div ng-controller="sign">
            <!-- navbar vistor  -->
            <nav class="navbar navbar-inverse nav-color navbar-fixed-top" id="T-N" ng-controller="sign" ng-if="!state">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="~/"><i class="fa fa-university" aria-hidden="true"></i>&nbsp;Real Estate</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="" data-toggle="modal" data-target="#signin">Sign IN</a></li>
                    <li><a href="" data-toggle="modal" data-target="#signup">Sign Up</a></li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>

            <!--  changable content  -->
            @*@RenderSection("featured", required: false)*@
            
            <div>@*ng-view*@
                @RenderBody()
            </div>
                
        </div><!-- sign-controller -->



        @*<header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>*@
        <div id="body">
            @*@RenderSection("featured", required: false)*@
            <section class="content-wrapper main-content clear-fix">
                @*@RenderBody()*@
            </section>
        </div>
       @* <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>*@

        @Scripts.Render("~/bundles/js")
        @RenderSection("scripts", required: false)
    </body>
</html>
